app-profile-view {
    .profile-view__image-container {
        height: 220px;
        background-color: #54D3BF;
    }
    .profile-view__image {
        padding-top: 20px;
        height:200px;
        max-height: 200px;
    }
}
